* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #073755;
  width: 980px;
  height: 700px;
	overflow: hidden;
	color: white;
	font-family: "Avenir";
}

#img1 {position:relative;
   z-index: -1;}

#img2{
	position: absolute;
		bottom: 100; 
	left: 100; 
	z-index: 0
}


#img3{
	position: absolute
		left: 40px;
	top:100px;
	z-index: 1
}
